<div class="container">
  <div class="navbar">
    <div class="navbar-inner">
        
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
             <%= link_to "Jobbster", dashboard_path, class: "brand" %>

                <div class="nav-collapse">
                    <ul class="nav">
                        <li>
                            <%= link_to 'Dashboard', dashboard_path %>
                        </li>
                        <li>    
                            <%= link_to "Applications", dashboard_job_applications_path %>
                        </li>
                        <li>    
                            <%= link_to "Jobs", dashboard_jobs_path %>
                        </li>
                        <li>    
                            <a href="#">Company</a>
                        </li>
                        <li>    
                            <%= link_to 'Account', edit_user_registration_path %>
                        </li>
                    </ul>
                    <ul class="nav pull-right">
                      <% if user_signed_in? %>
                        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
                      <% end %>
                    </ul>
                </div>
        </div>
    </div>
</div>