<!DOCTYPE html>
<html>
  <head>
    <title>PathWall - Dashboard</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'layouts/dashboard/header' %>
    <div class="container">
      <%= render 'layouts/dashboard/flash' %>
      <%= yield %>
      <%= render 'layouts/dashboard/footer' %>
    </div>

  </body>
</html>