<p>
  <strong>Title</strong><br />
  <%= @job.name %>
</p>
<p>
  <strong>Job Description</strong><br />
  <%= @job.description %>
</p>
<p>
  <strong>Job Skills</strong><br />
  <%= @job.jobskills %>
</p>
<p>
  <strong>Job Location</strong><br />
  <%= @job.joblocation %>
</p>
<p>
  <strong>Employment Type</strong><br />
  <%= @job.employmenttype %>
</p>
<p>
  <strong>Job Length</strong><br />
  <%= @job.joblength %>
</p>
<p>
  <strong>Pay Rate</strong><br />
  <%= @job.payrate %>
</p>
<p>
  <strong>Travel Required</strong><br />
  <%= @job.travelrequired %>
</p>

<%= link_to 'Apply For This Job', new_job_application_path, class: 'btn' %>