<p>
  <strong>Name:</strong>
  <%= @job.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>
<p>
  <%= @job.user.email %>
</p>

<%= link_to 'Edit', edit_dashboard_job_path %> |
<%= link_to 'Back', dashboard_jobs_path %>
