<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {class: "form-signin"}) do |f| %>
	<h2 class="form-signin-heading">Sign in</h2>
	<%= f.input :email, :required => false, :autofocus => true, class: "input-block-level", placeholder: "Email address" %>
	<%= f.input :password, :required => false, class: "input-block-level", placeholder: "Password" %>
	<%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
	<%= f.button :submit, "Sign in", class: "btn btn-large btn-primary" %>
	<br />
	<%= render "devise/shared/links" %>
<% end %>


